<div id="main">

    <div class="inner">

        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h1>
                        Life's Too Short<br />
                        To Drive Boring Cars!
                    </h1>
                    <p><h2>***Standard procedure: must see claim check to release vehicles***</h2></p>
                </header>
                <p></p>
                <ul class="actions">
                    <li><a href="https://localhost:44336/Drivers/Create" class="button big">DRIVERS CLOCK IN</a></li>
                </ul>
                <ul class="actions">
                    <li><a href="https://localhost:44336/Account/Login" class="button big">LOG IN</a></li>
                </ul>

            </div>
           




        </section>

        <!-- Section -->
        <!-- Section -->


    </div>
</div>
